<div *ngIf="pointRelai" class="body">
  <h2 >{{ pointRelai.name }}</h2>
      <div class="card-content">
        <div class="adresse">
          <span class="text"><strong>Adresse</strong></span><br/>
          <span class="text">{{ pointRelai.adresse.rue}}, {{ pointRelai.adresse.codePostal}} {{ pointRelai.adresse.ville}}</span>
        </div>     
        <table class="table"> 
          <tr >
            <td class="td"><strong>Horaires</strong></td>
            <td class="td"><strong>Matin</strong></td>
            <td class="td"><strong>Après-midi</strong></td>
            <td class="td"><strong>Journée entière</strong></td>
          </tr>
          <tr *ngFor='let horaire of pointRelai.horaires' class="tr">
            <td class="td2">{{horaire.jour}}</td>
            <td class="td2">{{horaire.matin}}</td>
            <td class="td2">{{horaire.soir}}</td>
            <td class="td2">{{horaire.jourentier}}</td>
          </tr>
        </table>
      </div>
      <div class="card-action">
        <div (click)="goBack()" class="goBack">Retour points relais</div>
        <div (click)= "goToPayment(pointRelai)" class="goBack"> Valider ce point relais et payer </div>
      </div>
    </div>
  <h4 *ngIf='!pointRelai' class="center">Erreur affichage point relai</h4>