*{
	box-sizing: border-box;
	font-family: "Gill Sans", sans-serif;
}


.body{
	display: flex;
	flex-direction: column;	
    align-content: center;
    text-align: center;
	flex-grow:1;
}
.card-content{
    align-self: center;
	flex-grow:1;
}

.table{
    padding : 3vh;
}

.adresse{
    padding : 2vh;
}

.text{
    padding : 1vh;
    margin: 1vh;
}

.td{
    padding: 4vh;
}

.td2{
    padding : 0.5vh;
}

.goBack {
	text-decoration: none;
	padding: 1vh 1vw;
	margin: 1vh 2vw;
	align-self:center;
	font-weight: bold;
	background: #FFE4DB;
	color: black;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	font-family: "Gill Sans", sans-serif;
}

.goBack:hover {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	background: #E28787;
	color: white;
}
.card-action{
    width : fit-content;
    align-self : center;
}